@import "tailwindcss";

:root {
    --primary: #D62828;
    --secondary: #F77F00;
    --accent: #EAE2B7;
    --highlight: #FCBF49;
    --background: #FFFFFF;
    --text: #003049;
  }

  /* :root {
    --primary: #003049;
    --secondary: #F77F00;
    --accent: #EAE2B7;
    --highlight: #FCBF49;
    --background: #1a1a1a;
    --text: #FFFFFF;
  } */
  

  .bg-primary {
    background-color: var(--primary);
  }
  .text-primary {
    color: var(--text);
  }
  
  .bg-secondary {
    background-color: var(--secondary);
  }
  .text-secondary {
    color: var(--secondary);
  }
  
  .bg-accent {
    background-color: var(--accent);
  }
  .text-accent {
    color: var(--accent);
  }
  
  .bg-highlight {
    background-color: var(--highlight);
  }
  .text-highlight {
    color: var(--highlight);
  }
  
  .bg-background {
    background-color: var(--background);
  }
  .text-background {
    color: var(--background);
  }
  